# Gradle
.gradle/
build/
solarelo-api/build/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Build settings
settings.gradle

# Local build artifacts
target/
obfuscation/
*.log
*.bbmodel
*.png
*.ttf
scratch/
skidfuscator-config.conf
skidfuscator-error-*.txt
